.classpath
.project
.settings/.jsdtscope
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
target/classes/hu/my/coolproject/controllers/BaseController.class
target/classes/hu/my/coolproject/controllers/ContentController.class
target/classes/hu/my/coolproject/controllers/LoginController.class
target/classes/hu/my/coolproject/controllers/RankController.class
target/classes/hu/my/coolproject/controllers/RightsController.class
target/classes/hu/my/coolproject/controllers/UserController$1.class
target/classes/hu/my/coolproject/controllers/UserController.class
target/classes/hu/my/coolproject/domain/Ranks.class
target/classes/hu/my/coolproject/domain/RightRanks.class
target/classes/hu/my/coolproject/domain/RightsRankID.class
target/classes/hu/my/coolproject/domain/User.class
target/classes/hu/my/coolproject/repository/RanksRepository.class
target/classes/hu/my/coolproject/repository/UserRepository.class
target/classes/hu/my/coolproject/repository/impl/RanksRepositoryImpl.class
target/classes/hu/my/coolproject/repository/impl/UserRepositoryImpl.class
target/classes/hu/my/coolproject/service/RanksService.class
target/classes/hu/my/coolproject/service/UserService.class
target/classes/hu/my/coolproject/service/impl/RanksServiceImpl.class
target/classes/hu/my/coolproject/service/impl/UserServiceImpl.class
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/hu.my/CoolProject/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/hu.my/CoolProject/pom.xml
